
body{
    background-color: #d9d9d9;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight:400;
}

.logo{
    margin-bottom: -70px;
    z-index: 70;
}

.hometxt{
    margin-top: -180px;
    z-index: 50;
}

.ml-6 {
    margin-left: 4rem!important;
}

.mt-6 {
    margin-top: 4rem!important;
}

.pl-6 {
    padding-left: 4rem!important;
}

.pt-6 {
    padding-top: 4rem!important;
}

.pb-7 {
    padding-bottom: 5rem!important;
}

.pb-8 {
    padding-bottom: 6rem!important;
}

.pr-6 {
    padding-right: 4rem!important;
}

.pt-7 {
    padding-top: 5rem!important;
}

.pb-10 {
    padding-bottom: 20rem!important;
}

.bg-video {
    background-image: url("/maquetacion/general/bg-videos.png");
    background-repeat: no-repeat;
}

.bg-comp{
    background-image: url("/maquetacion/general/bg-comparativa-modelos.jpg");
    background-repeat: no-repeat;
    background-color: #EBEBEB;
}

.bg-drone{
    background-image: url("/maquetacion/p-home/bg-home-drones.jpg");
    background-size: cover;
}

.bg-servicios-footer{
    background-image: url("/maquetacion/general/bg-footer-menu.jpg");
    background-repeat: no-repeat;
    background-color: #67ae5e;
}

.bg-contacto-footer{
    background-image: url("/maquetacion/general/bg-footer.jpg");
    background-repeat: no-repeat;
}

.bg-intro{
    background-color: #191c2f;
}

.bg-nav{

    background-color: #F5F5F5;
}

.bg-nav2{
    background-color: #F8F9FA;
}

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
