
.barlow300 {
    font-family: 'Barlow', sans-serif;
    font-weight:300;
}

.barlow400 {
    font-family: 'Barlow', sans-serif;
    font-weight:400;
}

.barlow500 {
    font-family: 'Barlow', sans-serif;
    font-weight:500;
}

.barlow600 {
    font-family: 'Barlow', sans-serif;
    font-weight:600;
}

.barlow700 {
    font-family: 'Barlow', sans-serif;
    font-weight:700;
}

.montserrat300 {
    font-family: 'Montserrat', sans-serif;
    font-weight:300;
}

.montserrat400 {
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
}

.montserrat500 {
    font-family: 'Montserrat', sans-serif;
    font-weight:500;
}

.montserrat600 {
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
}

.montserrat700 {
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
}
